<section>
  <i class="bi bi-person-circle text-white"></i>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-white fw-bold">Usuario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-white fw-bold">Contraseña</label>
    <input type="password" class="form-control  bg-white" id="exampleInputPassword1">
  </div>
  <button (click)="logIn()" class="btn btn-primary w-100">Acceder</button>
</section>
