<div class="backgroud-img">
  <div class="presentation-wrapper">
    <div>
      <h1>BIENVENIDO A <span class="text-primary fw-bold remarkable">DRAGON SKILLS</span></h1>
      <h2><span class="text-primary fw-bold remarkable">DIVIERTETE</span> JUGANDO!</h2>
    </div>
    <p>
      Dragon Skills es un lugar donde podemos <span class="text-primary fw-bold remarkable">reencontrarnos</span> otra vez. Tenemos
      varias salas con <span class="text-primary fw-bold remarkable">centenares de mesas</span> para que puedas venir con tus amigos,
      familiares y seres queridos a <span class="text-primary fw-bold remarkable">jugar a una gran variedad de juegos de mesa</span>.
      ¿Te lo vas a perder?
    </p>
  </div>
</div>

