:root {
  --default-line-height: 1.75rem;
  --default-font-size: 12px;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.25rem;
  --h4-font-size: 2rem;
  --h5-font-size: 1.75rem;
  --h6-font-size: 1.5rem;
  --heading-font-weight: bold;
  --paragraph-font-size: 1.25rem;
  --primary-color-100: #8deffc;
  --primary-color-200: #61edfa;
  --primary-color-300: #35f1f8;
  --primary-color-400: #0af5f5;
  --primary-color-500: #08c9bf;
  --primary-color-600: #079d90;
  --primary-color-700: #047163;
  --primary-color-800: #02453a;
  --primary-color-900: #011914;
  --primary-color-with-opcity-1: #08c9bf21;
  --primary-color-with-opcity-2: #08c9bf00;
  --bg-primary-color-without-opcity-1: #012429;
  --bg-primary-color-without-opcity-2: #00161d;
  --secondary-color-100: #fcc68d;
  --secondary-color-200: #faab61;
  --secondary-color-300: #f88935;
  --secondary-color-400: #f5680a;
  --secondary-color-500: #c94c08;
  --secondary-color-600: #9d3607;
  --secondary-color-700: #712104;
  --secondary-color-800: #451202;
  --secondary-color-900: #190501;
  --grey-color-100: #e6e6e6;
  --grey-color-200: #cccccc;
  --grey-color-300: #b3b3b3;
  --grey-color-400: #999999;
  --grey-color-500: #808080;
  --grey-color-600: #666666;
  --grey-color-700: #4d4d4d;
  --grey-color-800: #333333;
  --grey-color-900: #1a1a1a;
  --white-color-100: #ffffff;
  --white-color-200: #fcfcfc;
  --white-color-300: #fafafa;
  --white-color-400: #f7f7f7;
  --white-color-500: #f5f5f5;
  --white-color-600: #f2f2f2;
  --white-color-700: #f0f0f0;
  --white-color-800: #ededed;
  --white-color-900: #ebebeb;
  --black-color: #000000;
  --red-dark-color: #742a2a;
  --red-normal-color: #e53e3e;
  --red-light-color: #feb2b2;
  --green-dark-color: #22543d;
  --green-normal-color: #38a169;
  --green-light-color: #9ae6b4;
  --blue-dark-color: #00244d;
  --blue-normal-color: #006deb;
  --blue-light-color: #8ac0ff;
  --yellow-dark-color: #ce9909;
  --yellow-normal-color: #f3d139;
  --yellow-light-color: #fbf6b1;
  --light-box-shadow-color: rgba(255, 255, 255, 0.35);
  --dark-box-shadow-color: rgba(0, 0, 0, 0.15);
  --padding-0: 0;
  --padding-1: 4px;
  --padding-2: 6px;
  --padding-3: 8px;
  --padding-4: 10px;
  --padding-5: 12px;
  --padding-6: 16px;
  --padding-7: 20px;
  --padding-8: 24px;
  --padding-9: 32px;
  --padding-10: 40px;
  --padding-11: 48px;
  --padding-12: 64px;
  --padding-13: 80px;
  --padding-14: 96px;
  --padding-15: 128px;
  --padding-16: 160px;
  --padding-17: 192px;
  --padding-18: 224px;
  --padding-19: 256px;
  --padding-20: 320px;
  --margin-0: 0;
  --margin-1: 4px;
  --margin-2: 6px;
  --margin-3: 8px;
  --margin-4: 10px;
  --margin-5: 12px;
  --margin-6: 16px;
  --margin-7: 20px;
  --margin-8: 24px;
  --margin-9: 32px;
  --margin-10: 40px;
  --margin-11: 48px;
  --margin-12: 64px;
  --margin-13: 80px;
  --margin-14: 96px;
  --margin-15: 128px;
  --margin-16: 160px;
  --margin-17: 192px;
  --margin-18: 224px;
  --margin-19: 256px;
  --margin-20: 320px;
  --margin-auto: auto;
  --border-radius-0: 0;
  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 6px;
  --border-radius-4: 8px;
  --border-radius-5: 12px;
  --border-radius-6: 16px;
  --border-radius-full: 100%;
  --gap-0: 0;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 16px;
  --gap-4: 24px;
  --gap-5: 32px;
  --gap-6: 48px;
  --width-auto: auto;
  --width-0: 0;
  --width-100: 100%;
  --width-100-viewport: 100dvw;
  --height-auto: auto;
  --height-0: 0;
  --height-100: 100%;
  --height-100-viewport: 100dvh;
}
@media (min-width: 768px) {
  :root {
    --default-font-size: 16px;
  }
}

* {
  scrollbar-color: var(--primary-color-700) var(--grey-color-100);
  scrollbar-width: none;
}

body {
  background-color: var(--bg-primary-color-without-opcity-2);
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, var(--primary-color-with-opcity-1), var(--primary-color-with-opcity-2));
}

* {
  min-width: var(--width-0);
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: var(--height-auto);
  max-width: var(--width-100);
}

body {
  margin: var(--margin-0);
  min-height: var(--height-100-viewport);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

ol, li {
  margin: var(--margin-0);
  padding: var(--padding-0);
  list-style: none;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--default-font-size);
  color: var(--white-color-100);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--heading-font-weight);
}
h2 i {
  font-size: inherit;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--heading-font-weight);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--heading-font-weight);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--heading-font-weight);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--heading-font-weight);
}

p {
  font-size: var(--paragraph-font-size);
  line-height: var(--default-line-height);
}

.l-flex {
  display: flex;
}
.l-flex--wrap {
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .l-flex--wrap-md {
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .l-flex--wrap-lg {
    flex-wrap: wrap;
  }
}
.l-flex--nowrap {
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .l-flex--nowrap-md {
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .l-flex--nowrap-lg {
    flex-wrap: nowrap;
  }
}
.l-flex--direction-column {
  flex-direction: column;
}
.l-flex--space-between {
  justify-content: space-between;
}
.l-flex--vertical-centered {
  align-items: center;
}
.l-flex--centered {
  justify-content: center;
  align-items: center;
}
.l-flex--gap-0 {
  gap: var(--gap-0);
}
@media (min-width: 768px) {
  .l-flex--gap-md-0 {
    gap: var(--gap-0);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-0 {
    gap: var(--gap-0);
  }
}
.l-flex--gap-1 {
  gap: var(--gap-1);
}
@media (min-width: 768px) {
  .l-flex--gap-md-1 {
    gap: var(--gap-1);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-1 {
    gap: var(--gap-1);
  }
}
.l-flex--gap-2 {
  gap: var(--gap-2);
}
@media (min-width: 768px) {
  .l-flex--gap-md-2 {
    gap: var(--gap-2);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-2 {
    gap: var(--gap-2);
  }
}
.l-flex--gap-3 {
  gap: var(--gap-3);
}
@media (min-width: 768px) {
  .l-flex--gap-md-3 {
    gap: var(--gap-3);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-3 {
    gap: var(--gap-3);
  }
}
.l-flex--gap-4 {
  gap: var(--gap-4);
}
@media (min-width: 768px) {
  .l-flex--gap-md-4 {
    gap: var(--gap-4);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-4 {
    gap: var(--gap-4);
  }
}
.l-flex--gap-5 {
  gap: var(--gap-5);
}
@media (min-width: 768px) {
  .l-flex--gap-md-5 {
    gap: var(--gap-5);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-5 {
    gap: var(--gap-5);
  }
}
.l-flex--gap-6 {
  gap: var(--gap-6);
}
@media (min-width: 768px) {
  .l-flex--gap-md-6 {
    gap: var(--gap-6);
  }
}
@media (min-width: 992px) {
  .l-flex--gap-lg-6 {
    gap: var(--gap-6);
  }
}

.l-fixed-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: var(--width-100);
}

.l-main-centered-content {
  margin-inline: var(--margin-7);
}
@media (min-width: 762px) {
  .l-main-centered-content {
    margin-inline: var(--margin-10);
  }
}
@media (min-width: 992px) {
  .l-main-centered-content {
    margin-inline: 20dvw;
  }
}

.l-timeline {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: var(--gap-4);
}

.c-navbar {
  padding-block: var(--padding-2);
  padding-inline: var(--padding-9);
  margin: var(--margin-7);
  border-radius: var(--border-radius-6);
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 5dvh 20dvh;
}
.c-navbar__item {
  font-weight: 600;
}
.c-navbar__item:hover {
  color: var(--primary-color-500);
}
.c-navbar__item--logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color-500);
}
.c-navbar__item--logo:hover {
  color: var(--secondary-color-500);
}

@keyframes nav-shadown {
  to {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
.c-section {
  padding-top: 15dvh;
  min-height: 60dvh;
}

.c-remarkable {
  font-weight: var(--heading-font-weight);
  font-size: inherit;
  color: var(--primary-color-500);
}
.c-remarkable--secondary {
  color: var(--secondary-color-400);
}

.c-profile-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-full);
  box-shadow: 0px 5px 15px var(--light-box-shadow-color);
}
@media (width > 768px) {
  .c-profile-img {
    width: 75px;
    height: 75px;
  }
}
@media (width > 992px) {
  .c-profile-img {
    width: 100px;
    height: 100px;
  }
}

.c-badge {
  display: inline-block;
  padding-block: var(--padding-1);
  padding-inline: var(--padding-2);
  border-radius: var(--border-radius-6);
  border: 1px solid var(--secondary-color-400);
  background-color: var(--secondary-color-500);
  font-size: 0.9rem;
  line-height: 1.25rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-badge {
    padding-inline: var(--padding-4);
  }
}
@media (min-width: 1100px) {
  .c-badge {
    padding-inline: var(--padding-6);
  }
}
.c-badge--bg-dark {
  border: 0;
  background-color: var(--bg-primary-color-without-opcity-1);
}
.c-badge--bg-primary {
  border: 1px solid var(--primary-color-500);
  background-color: var(--primary-color-600);
}
.c-badge--btn {
  padding-block: var(--padding-5);
  border-radius: var(--border-radius-4);
  margin-top: var(--margin-5);
  border: 1px solid var(--primary-color-700);
  background-color: var(--primary-color-800);
}
.c-badge--hover-animation {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-badge--hover-animation:hover {
  transform: scale(1.05);
}

.c-border-animation__container {
  padding: 1px;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
}
.c-border-animation__effect {
  background-image: conic-gradient(from 90deg at 50% 50%, #ff7f7f, #970000, #ff7f7f);
  animation: spin 2s linear infinite;
  inset: -1000%;
  position: absolute;
  z-index: -1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.c-presentation-wrapper-img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-6);
  box-shadow: 0px 5px 15px var(--light-box-shadow-color);
}

.c-timeline {
  border-left: 2px solid var(--grey-color-800);
  padding: var(--padding-6);
}
.c-timeline__line {
  position: relative;
  padding-bottom: var(--padding-12);
}
.c-timeline__point {
  position: absolute;
  left: -23px;
  top: -10px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-color-500);
}
@media (min-width: 768px) {
  .c-timeline__point {
    left: -24px;
  }
}
@media (min-width: 992px) {
  .c-timeline__point {
    left: -25px;
  }
}
.c-timeline h3 {
  margin: var(--margin-0);
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--primary-color-500);
}
.c-timeline h4 {
  margin: var(--margin-0);
  font-size: 1.25rem;
  line-height: 2rem;
}
.c-timeline p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0;
}

.c-card {
  padding: var(--padding-0);
}
.c-card #card_2 {
  margin-bottom: var(--margin-0);
}
.c-card__item {
  position: sticky;
  top: 10dvh;
  margin-bottom: var(--margin-16);
  box-shadow: 0px 5px 15px var(--primary-color-700);
  border-radius: var(--border-radius-6);
  background-color: #012f33;
}
@media (min-width: 576px) {
  .c-card__item {
    padding-right: var(--padding-8);
    margin-bottom: var(--margin-12);
  }
}
.c-card__content {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 576px) {
  .c-card__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-1);
  }
}
.c-card__content-text {
  padding: var(--padding-6);
}
@media (min-width: 576px) {
  .c-card__content-text {
    padding-block: var(--padding-6);
  }
}
.c-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: var(--border-radius-6);
  border-top-right-radius: var(--border-radius-6);
}
@media (min-width: 576px) {
  .c-card__img {
    width: 100%;
    border-top-left-radius: var(--border-radius-6);
    border-bottom-left-radius: var(--border-radius-6);
    border-top-right-radius: var(--border-radius-0);
  }
}
.c-card h3 {
  margin: var(--margin-0);
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.c-card h4 {
  margin: var(--margin-0);
  font-size: 1.25rem;
  line-height: 2rem;
}
.c-card p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0;
}

.c-about-me-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-4);
  box-shadow: rgba(0, 234, 255, 0.257) 0px 8px 24px;
  transform: rotate(0);
  margin-bottom: var(--margin-10);
}
@media (min-width: 768px) {
  .c-about-me-img--right {
    margin-bottom: var(--margin-0);
    transform: rotate(-2deg);
    height: 40dvh;
    min-width: 20dvw;
  }
}
@media (min-width: 768px) {
  .c-about-me-img--left {
    margin-bottom: var(--margin-0);
    transform: rotate(2deg);
    height: 40dvh;
    min-width: 20dvw;
  }
}

.c-footer {
  padding-block: var(--padding-10);
  margin-top: var(--margin-10);
  background-color: transparent;
}

.g--padding {
  padding: var(--padding-0);
  padding: var(--padding-1);
  padding: var(--padding-2);
  padding: var(--padding-3);
  padding: var(--padding-4);
  padding: var(--padding-5);
  padding: var(--padding-6);
  padding: var(--padding-7);
  padding: var(--padding-8);
  padding: var(--padding-9);
  padding: var(--padding-10);
  padding: var(--padding-11);
  padding: var(--padding-12);
  padding: var(--padding-13);
  padding: var(--padding-14);
  padding: var(--padding-15);
  padding: var(--padding-16);
  padding: var(--padding-17);
  padding: var(--padding-18);
  padding: var(--padding-19);
  padding: var(--padding-20);
}
.g--padding-inline-0 {
  padding-inline: var(--padding-0);
}
.g--padding-block-0 {
  padding-block: var(--padding-0);
}
.g--padding-top-0 {
  padding-top: var(--padding-0);
}
.g--padding-bottom-0 {
  padding-bottom: var(--padding-0);
}
.g--padding-left-0 {
  padding-left: var(--padding-0);
}
.g--padding-right-0 {
  padding-right: var(--padding-0);
}
.g--padding-inline-1 {
  padding-inline: var(--padding-1);
}
.g--padding-block-1 {
  padding-block: var(--padding-1);
}
.g--padding-top-1 {
  padding-top: var(--padding-1);
}
.g--padding-bottom-1 {
  padding-bottom: var(--padding-1);
}
.g--padding-left-1 {
  padding-left: var(--padding-1);
}
.g--padding-right-1 {
  padding-right: var(--padding-1);
}
.g--padding-inline-2 {
  padding-inline: var(--padding-2);
}
.g--padding-block-2 {
  padding-block: var(--padding-2);
}
.g--padding-top-2 {
  padding-top: var(--padding-2);
}
.g--padding-bottom-2 {
  padding-bottom: var(--padding-2);
}
.g--padding-left-2 {
  padding-left: var(--padding-2);
}
.g--padding-right-2 {
  padding-right: var(--padding-2);
}
.g--padding-inline-3 {
  padding-inline: var(--padding-3);
}
.g--padding-block-3 {
  padding-block: var(--padding-3);
}
.g--padding-top-3 {
  padding-top: var(--padding-3);
}
.g--padding-bottom-3 {
  padding-bottom: var(--padding-3);
}
.g--padding-left-3 {
  padding-left: var(--padding-3);
}
.g--padding-right-3 {
  padding-right: var(--padding-3);
}
.g--padding-inline-4 {
  padding-inline: var(--padding-4);
}
.g--padding-block-4 {
  padding-block: var(--padding-4);
}
.g--padding-top-4 {
  padding-top: var(--padding-4);
}
.g--padding-bottom-4 {
  padding-bottom: var(--padding-4);
}
.g--padding-left-4 {
  padding-left: var(--padding-4);
}
.g--padding-right-4 {
  padding-right: var(--padding-4);
}
.g--padding-inline-5 {
  padding-inline: var(--padding-5);
}
.g--padding-block-5 {
  padding-block: var(--padding-5);
}
.g--padding-top-5 {
  padding-top: var(--padding-5);
}
.g--padding-bottom-5 {
  padding-bottom: var(--padding-5);
}
.g--padding-left-5 {
  padding-left: var(--padding-5);
}
.g--padding-right-5 {
  padding-right: var(--padding-5);
}
.g--padding-inline-6 {
  padding-inline: var(--padding-6);
}
.g--padding-block-6 {
  padding-block: var(--padding-6);
}
.g--padding-top-6 {
  padding-top: var(--padding-6);
}
.g--padding-bottom-6 {
  padding-bottom: var(--padding-6);
}
.g--padding-left-6 {
  padding-left: var(--padding-6);
}
.g--padding-right-6 {
  padding-right: var(--padding-6);
}
.g--padding-inline-7 {
  padding-inline: var(--padding-7);
}
.g--padding-block-7 {
  padding-block: var(--padding-7);
}
.g--padding-top-7 {
  padding-top: var(--padding-7);
}
.g--padding-bottom-7 {
  padding-bottom: var(--padding-7);
}
.g--padding-left-7 {
  padding-left: var(--padding-7);
}
.g--padding-right-7 {
  padding-right: var(--padding-7);
}
.g--padding-inline-8 {
  padding-inline: var(--padding-8);
}
.g--padding-block-8 {
  padding-block: var(--padding-8);
}
.g--padding-top-8 {
  padding-top: var(--padding-8);
}
.g--padding-bottom-8 {
  padding-bottom: var(--padding-8);
}
.g--padding-left-8 {
  padding-left: var(--padding-8);
}
.g--padding-right-8 {
  padding-right: var(--padding-8);
}
.g--padding-inline-9 {
  padding-inline: var(--padding-9);
}
.g--padding-block-9 {
  padding-block: var(--padding-9);
}
.g--padding-top-9 {
  padding-top: var(--padding-9);
}
.g--padding-bottom-9 {
  padding-bottom: var(--padding-9);
}
.g--padding-left-9 {
  padding-left: var(--padding-9);
}
.g--padding-right-9 {
  padding-right: var(--padding-9);
}
.g--padding-inline-10 {
  padding-inline: var(--padding-10);
}
.g--padding-block-10 {
  padding-block: var(--padding-10);
}
.g--padding-top-10 {
  padding-top: var(--padding-10);
}
.g--padding-bottom-10 {
  padding-bottom: var(--padding-10);
}
.g--padding-left-10 {
  padding-left: var(--padding-10);
}
.g--padding-right-10 {
  padding-right: var(--padding-10);
}
.g--padding-inline-11 {
  padding-inline: var(--padding-11);
}
.g--padding-block-11 {
  padding-block: var(--padding-11);
}
.g--padding-top-11 {
  padding-top: var(--padding-11);
}
.g--padding-bottom-11 {
  padding-bottom: var(--padding-11);
}
.g--padding-left-11 {
  padding-left: var(--padding-11);
}
.g--padding-right-11 {
  padding-right: var(--padding-11);
}
.g--padding-inline-12 {
  padding-inline: var(--padding-12);
}
.g--padding-block-12 {
  padding-block: var(--padding-12);
}
.g--padding-top-12 {
  padding-top: var(--padding-12);
}
.g--padding-bottom-12 {
  padding-bottom: var(--padding-12);
}
.g--padding-left-12 {
  padding-left: var(--padding-12);
}
.g--padding-right-12 {
  padding-right: var(--padding-12);
}
.g--padding-inline-13 {
  padding-inline: var(--padding-13);
}
.g--padding-block-13 {
  padding-block: var(--padding-13);
}
.g--padding-top-13 {
  padding-top: var(--padding-13);
}
.g--padding-bottom-13 {
  padding-bottom: var(--padding-13);
}
.g--padding-left-13 {
  padding-left: var(--padding-13);
}
.g--padding-right-13 {
  padding-right: var(--padding-13);
}
.g--padding-inline-14 {
  padding-inline: var(--padding-14);
}
.g--padding-block-14 {
  padding-block: var(--padding-14);
}
.g--padding-top-14 {
  padding-top: var(--padding-14);
}
.g--padding-bottom-14 {
  padding-bottom: var(--padding-14);
}
.g--padding-left-14 {
  padding-left: var(--padding-14);
}
.g--padding-right-14 {
  padding-right: var(--padding-14);
}
.g--padding-inline-15 {
  padding-inline: var(--padding-15);
}
.g--padding-block-15 {
  padding-block: var(--padding-15);
}
.g--padding-top-15 {
  padding-top: var(--padding-15);
}
.g--padding-bottom-15 {
  padding-bottom: var(--padding-15);
}
.g--padding-left-15 {
  padding-left: var(--padding-15);
}
.g--padding-right-15 {
  padding-right: var(--padding-15);
}
.g--padding-inline-16 {
  padding-inline: var(--padding-16);
}
.g--padding-block-16 {
  padding-block: var(--padding-16);
}
.g--padding-top-16 {
  padding-top: var(--padding-16);
}
.g--padding-bottom-16 {
  padding-bottom: var(--padding-16);
}
.g--padding-left-16 {
  padding-left: var(--padding-16);
}
.g--padding-right-16 {
  padding-right: var(--padding-16);
}
.g--padding-inline-17 {
  padding-inline: var(--padding-17);
}
.g--padding-block-17 {
  padding-block: var(--padding-17);
}
.g--padding-top-17 {
  padding-top: var(--padding-17);
}
.g--padding-bottom-17 {
  padding-bottom: var(--padding-17);
}
.g--padding-left-17 {
  padding-left: var(--padding-17);
}
.g--padding-right-17 {
  padding-right: var(--padding-17);
}
.g--padding-inline-18 {
  padding-inline: var(--padding-18);
}
.g--padding-block-18 {
  padding-block: var(--padding-18);
}
.g--padding-top-18 {
  padding-top: var(--padding-18);
}
.g--padding-bottom-18 {
  padding-bottom: var(--padding-18);
}
.g--padding-left-18 {
  padding-left: var(--padding-18);
}
.g--padding-right-18 {
  padding-right: var(--padding-18);
}
.g--padding-inline-19 {
  padding-inline: var(--padding-19);
}
.g--padding-block-19 {
  padding-block: var(--padding-19);
}
.g--padding-top-19 {
  padding-top: var(--padding-19);
}
.g--padding-bottom-19 {
  padding-bottom: var(--padding-19);
}
.g--padding-left-19 {
  padding-left: var(--padding-19);
}
.g--padding-right-19 {
  padding-right: var(--padding-19);
}
.g--padding-inline-20 {
  padding-inline: var(--padding-20);
}
.g--padding-block-20 {
  padding-block: var(--padding-20);
}
.g--padding-top-20 {
  padding-top: var(--padding-20);
}
.g--padding-bottom-20 {
  padding-bottom: var(--padding-20);
}
.g--padding-left-20 {
  padding-left: var(--padding-20);
}
.g--padding-right-20 {
  padding-right: var(--padding-20);
}/*# sourceMappingURL=main.css.map */