.c-navbar {
  padding-block: var(--padding-2);
  padding-inline: var(--padding-9);
  margin: var(--margin-7);
  border-radius: var(--border-radius-6);


  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 5dvh 20dvh;

  &__item {
    font-weight: 600;

    &:hover {
      color: var(--primary-color-500);
    }

    &--logo {
      font-size: 2rem;
      font-weight: bold;
      color: var(--secondary-color-500);

      &:hover {
        color: var(--secondary-color-500);
      }
    }
  }
}


@keyframes nav-shadown {
  to {
    background-color: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(5px);
  }
}