.c-timeline {
  border-left: 2px solid var(--grey-color-800);
  padding: var(--padding-6);

  &__line {
    position: relative;
    padding-bottom: var(--padding-12);
  }


  &__point {
    position: absolute;
    left: -23px;
    top: -10px;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color-500);

    @media (min-width: 768px) {
      left: -24px;
    }

    @media (min-width: 992px) {
      left: -25px;
    }
  }

  h3 {
    margin: var(--margin-0);

    font-size: 1.75rem;
    line-height: 2.5rem;
    color: var(--primary-color-500);
  }

  h4 {
    margin: var(--margin-0);
    font-size: 1.25rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0;
  }
}

