<form class="form">
  <h2 class="text-center fw-bold mb-4 px-3 py-3 text-white bg-dark rounded-3"><i class="bi bi-person-circle"></i> DRAGON SKILLS</h2>
  <div class="mb-3">
    <label for="name" class="form-label text-white">Nombre</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label text-white">Usuario</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-white">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
