.l-flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--direction-column {
    flex-direction: column;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--vertical-centered {
    align-items: center;
  }

  &--centered {
    justify-content: center;
    align-items: center;
  }

  @for $gap-position from 1 through length($gap-list) {
    $gap-order: $gap-position - 1;
    &--gap-#{$gap-order} {
      gap: nth($gap-list, $gap-position);
    }
  }
}
