
<!-- Modal -->
<div class="modal c-modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{product.title}}</h5>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <button class="btn btn-danger" (click)="error()">SHOW ERROR</button>
  <div class="row">
    <app-product *ngFor="let product of products" [product]="product" (addSeeCardDetailEvent)="seeCardDetail($event)"
      class="col"></app-product>
  </div>
</div>
