<div class="d-flex flex-column justify-content-center align-items-center gap-5 bg-dark p-3">
  <div class="d-flex justify-content-center align-items-center gap-5">
    <a href="https://spain-skills.es" class="link">Aviso Legal</a>
    <a href="https://spain-skills.es/" class="link">Politica de privacidad</a
    ><a href="mailto:dragonskills@gmail.com" class="link">Contacto</a>
  </div>
  <p class="text-white">
    SpainSkills &copy; Casi todos los derechos reservados. Diseñada por Pau
    Fandos competidor Nº 222
  </p>
</div>
