<div class="d-flex justify-content-center mx-2">
  <nav
  class="navbar navbar-expand-lg bg-black border-bottom border-body position-fixed rounded-4 mx-auto mt-4 blur px-3"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dragon Skills</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isUserLogged()">
          <a class="nav-link" aria-current="page" [routerLink]="'/reservations'"
            >Reservas</a
          >
        </li>
        <li class="nav-item" *ngIf="isUserLogged() && isAdmin()">
          <a class="nav-link" [routerLink]="'/games'">Juegos</a>
        </li>
        <li class="nav-item" *ngIf="isUserLogged() && isAdmin()">
          <a class="nav-link" [routerLink]="'/tables'">Mesas</a>
        </li>
      </ul>
      <div class="d-flex justify-content-start align-items-center justify-content-md-end">
        <div class="">
          <button class="btn btn-primary me-2" [routerLink]="'/login'" *ngIf="!isUserLogged()">
            Acceder
          </button>
          <button class="btn btn-secondary me-2" [routerLink]="'/register'" *ngIf="!isUserLogged()">
            Registrarse
          </button>
          <button class="btn btn-danger me-2" [routerLink]="'/'" *ngIf="isUserLogged()" (click)="logOut()">
            Salir
          </button>
        </div>

        <img
          src="../../../../assets/images/logo-spainskills.png"
          alt="Logo spain skills"
          class="logo-spainskills"
        />
      </div>
    </div>
  </div>
</nav>

</div>
